.footer {
    text-align: center;
    padding: 20px; 
    padding-bottom: 40px; 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1cm; /* Space between buttons */
}

.button-container a {
    color: white; /* Change icon color */
    text-decoration: none; /* Remove underline */
}
